/* PHONES */
@media only screen
and (max-device-width : 667px)
and (orientation : portrait)  {

	html {
		width: 100%;
		height: 100%;

	}
	body {
		width: 100%;
		height: 100%;
		position: absolute;
		-webkit-text-size-adjust: 100%;
	}


	#intro {
		width: 100%;
/*		height: 450px;*/
		position: relative;

	}


	/* Sections general classes ------------------------------------------------ */

	.text_right{
		width: 100%;
		/*height: 150px;*/
		position: relative;

	}


	.description_right {
		width: 80%;
		top: 20px;
		margin: 0 auto;
		position: relative;
	}

	h1 {
		font-family: tradeGothic;
		font-size: 35px;
		text-align: center;
	}

	p {
		font-family: Helvetica, sans-serif;
		font-size: 13px;
		line-height: 18px;
		color: #808080   ;
		text-align: left;
	}

	p.left{
		text-align: left;
	}

	/* Intro --------------------------------------- */

	#intro_text {
		width: 100%;
		position: relative;
		margin: 0 auto;
		top: 80px;
		left: 0px;
	}

	#intro_text h1{
		text-align: center;
		color: white;
		/*letter-spacing: 1px;*/
		font-size: 35px;
		/*word-spacing: 10px;*/
	}

	#intro_text p{
		margin-top: 20px;
		color: #888888;
		text-align: center;
	}

	/* Section 1: Visualize ----------------------------------------------- */
	#skateVisuals{
		display: none;
	}

	#skateVisuals_tablet {
		display: none;
	}

	#skateVisuals_mobile{
		width: 100%;
		position: relative;
		display: block;
		top: 30px;
	}

	.visuals_imgs{
		width: 100%;
		position:relative;
		margin-top: 20px;
	}


	#trick_one.visuals_imgs {
		background: url('../img_mobile/trick1.png');
		background-size: cover;
	}
	#trick_two.visuals_imgs {
		background: url('../img_mobile/trick2.png');
		background-size: cover;
	}
	#trick_three.visuals_imgs {
		background: url('../img_mobile/trick3.png');
		background-size: cover;
	}
	#trick_four.visuals_imgs {
		background: url('../img_mobile/trick4.png');
		background-size: cover;
	}
	#trick_five.visuals_imgs {
		background: url('../img_mobile/trick5.png');
		background-size: cover;
	}

	/* Section 2: Mark ---------------------------------------------------------------------- */

	#mark_images {
		display: none;
	}

	#mark_images_phone {
		width: 100%;
		position: relative;
		display: block;
		top: 30px;
	}

	.mark_image_phone{
		width: 100%;
		position:relative;
		margin-top: 20px;
		background-color: red;
	}

	/* Section 3: Score ----------------------------------------------- */
	#score_section {
		width: 100%;
		height: 1350px;
		position: relative;
	}

	.score_image_wrapper {
		width: 100%;
		height: 1034px;
		position: relative;
		top: 300px;
/*		background-color: red;*/
	}

	#score_image {
		width: 288px;
		height: 512px;
		float: none;
		position: relative;
		margin: 0 auto;
		top: 0px;
		background: url('../img/score_3.png');
		background-size: cover;
	}

	#score_image_2 {
		width: 288px;
		height: 512px;
		float: none;
		position: relative;
		margin: 0 auto;
		top: 20px;
		background: url('../img/leaderboard_2.png');
		background-size: cover;
	}

	/* Section 4: Versus ----------------------------------------------- */

	#versus {
		height: 530px;
	}

	#versus_3d {
		display: none;
	}

	#vs_data_menu{
		display: none;
	}

	.description {
		/*width: 250px;*/
		width: 80%;
		top: 20px;
		margin: 0 auto;
		position: relative;
	}

	#versus_mobile{
		width: 100%;
		position: relative;
		display: block;
		top: 50px;
		background: url('../img_mobile/versus.png');
		background-size: cover;
	}


	/* Section 5: Sensor ----------------------------------------------- */

	.sensor_image_wrapper {
		width: 100%;
		/*height: 360px;*/
		position: relative;
		top: 50px;
	}

	#sensor_image{
		width: 100%;
		position: relative;
		margin:  0 auto;
		background: url('../img/sensor_540.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: red;
	}


	#sensor_wrapper {
		width: 100%;
		position: relative;

	}
}


@media only screen
and (max-device-width : 667px)
and (orientation : landscape)  {

	html {
		width: 100%;
		height: 100%;
	}

	body {
		width: 100%;
		height: 100%;
		position: absolute;
		-webkit-text-size-adjust: 100%;
	}

		/* Sections general classes ------------------------------------------------ */
	
	.description {
		width: 600px;
		top: 20px;
		margin: 0 auto;
		position: relative;
	}

	h1 {
		font-family: tradeGothic;
		font-size: 35px;
		text-align: center;
	}

	p {
		font-family: Helvetica, sans-serif;
		font-size: 15px;
		line-height: 18px;
		color: #808080;
	}


	/* Intro -------------------------------------------- */

	#intro_text {
		width: 380px;
		position: relative;
		margin: 0 auto;
		top: 120px;
	}

	/* Sections 1: Visualize ------------------------------------ */

	


	#visualize {
		height: 560px;
	}


	#skateVisuals{
		display: none;
	}

	#skateVisuals_tablet {
		width: 100%;
		position: relative;
		display: block;
		top: 60px;
		background: url('../img_tablet/trick1.png') black;
		background-size: cover;
	}

	#skateVisuals_mobile{
		display: none;
	}

	.visuals_imgs{
		display: none;
	}

	#skateVisuals_tablet_menu {
		position: relative;
		width: 290px;
		height: 10px;
		margin: 0 auto;	
	}

	.skateVisuals_tablet_menu_item {
		float: left;
		margin-left: 40px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		
	}

	.skateVisuals_tablet_menu_item.on {
		background-color: white;
	}

	.skateVisuals_tablet_menu_item.off {
		background-color: #202020;
	}

	/* Section 3: Score ----------------------------------------------------- */
	#score_section {
		height: 750px;
	}

	/* Sections 4: Versus ------------------------------------ */

	#versus_3d {
		display: none;
	}


	#versus_mobile{
		width: 100%;
		position: relative;
		display: block;
		top: 50px;
		background: url('../img_tablet/versus.png');
		background-size: cover;
	}


	#vs_data_menu{
		display: none;
	}


	/* Sections 5: Sensor ------------------------------------ */	
	.sensor_image_wrapper {
		width: 100%;
		height: 360px;
		top: 60px;
		position: relative;
	}

	#sensor_image {
		width: 100%;
		height: 360px;
		position: relative;
		margin: 0 auto;
		background: url('../img/sensor_540.png');
		background-size: cover;
	}

}