/* animations ------------------------------------------------ */
@-webkit-keyframes fade_in {
	from {opacity: 0;}
	to {opacity: 1;}
}

@-webkit-keyframes fade_out {
	from {opacity: 1;}
	to {opacity: 0;}
}

/*-webkit-animation: fade_in 1s;*/

/* ---------------------------------------------------------- */

html {
	width: 100%;
	height: 100%;
	/*background-color: black;*/
}

body {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow-y: hidden;
}

@font-face{
	font-family: tradeGothic;
    src: url('../fonts/tradeGothic.woff');
}


#chrome {
	position: absolute;
	width: 400px;
	height: 200px;
	background-color: rgba(0,0,0, 0.5);
	top: 0px;
	left: 50%;
	margin-left: -200px;
	z-index: 999;
}

#chrome.off {
	display: none;
}
#chrome.on {
	display: block;
}
#chrome p{
	color: white;
	margin-top: 70px;
}

#chrome span{
	font-weight: bold;
}

/* Sections ------------------------------------------------------------ */

#loading {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: black;
	z-index: 99;
}

h1#loading_text {
	color: white;
	font-size: 40px;
	position: relative;
	margin: 0 auto;
	margin-top: 200px;
}



#intro {
	width: 100%;
	height: 550px;
	position: relative;
	/*background: url('../img/intro/macba_08.jpg');*/
	background-color: black;
	background-position: center; 
	background-size: cover;

}

#visualize {
	margin-top: 100px;
	width: 100%;
/*	height: 1100px;*/
	position: relative;


}

#mark {
	width: 100%;
	/*height: 650px;*/
	margin-top: 100px;
	/*background-color: #888888;*/
	position: relative;

}

#score_section {
	margin-top: 100px;
	width: 100%;
	height: 512px;
	position: relative;
/*	background-color: red;*/
}

#versus {
	width: 100%;
	position: relative;
	margin-top: 100px;
/*	background-color: blue;*/
}

#sensor {
	width: 100%;
	position: relative;
/*	height: 300px;*/
	margin-top: 100px;
/*	background-color: yellow;*/

}

#contact{
	width: 100%;
	height: 100px;
}


/* Sections general classes ---------------------------------------------------------- */

.description{
	width: 600px;
	top: 20px;
	margin: 0 auto;
	position: relative;
}

.description_right{
	
	width: 450px;
	top: 20px;
	margin-left: 40px;
	position: relative;
}

.text_right{
	width: 500px;
	/*height: 360px;*/
	float: right;
}

h1 {
	font-family: tradeGothic;
	font-size: 35px;
	letter-spacing: -1;
	text-align: center;
	word-spacing: 7px;
}

h1.left {
	font-family: tradeGothic;
	font-size: 35px;
	letter-spacing: -1;
	text-align: left;
	margin-left: 40px;
	margin-top: 80px;
	word-spacing: 7px;
}

h1#h1_score{
	margin-top: 120px;
}

p {
	font-family: Helvetica, sans-serif;
	font-size: 15px;
	line-height: 22px;
	font-weight: 100;
	text-align: center;
	/*color: #808080   ;*/
	/*color: black;*/
	color: #888888;
}

p.left {
	text-align: left;
}

p.p_intro{
	text-align: center;

}

h2 {

	font-family: Helvetica, sans-serif;
	font-size: 15px;
	line-height: 20px;
	font-weight: bold;
	color: black;
}

p.grey_p{
	color: #888888;
}

/* Intro --------------------------------------------------------------------------- */
#intro_text {
	width: 380px;

	position: relative;
	left: 10%;
	/*margin: 0 auto;*/
	top: 200px;
/*	background-color: yellow;*/
}

#intro_text h1{
	text-align: center;
	color: white;
	/*letter-spacing: 1px;*/
	font-size: 35px;
	/*word-spacing: 10px;*/
}

#intro_text p{
	margin-top: 20px;
	color: white;
}

#intro_canvas {
	width: 100%;
	height: 550px;
	position: absolute;
	top: 0px;
}

/* Section 1: skate visuals -------------------------------------------------------- */

#skateVisuals {
	margin-top: 60px;
	width: 100%;
	height: 720px;
	position: relative;
}

#trick_video {
	width: 320px;
	height: 180px;
	background-color: black;
	position: absolute;
	right: 0px;
	top: 0px;
/*	right: 10px;
	top: 10px;*/
}


#skateVisuals_mobile{
	display: none;
}

#versus_3d {
	margin-top: 60px;
	width: 100%;
	height: 720px;
	position: relative;
}

#menu {
	width: 110px;
	height: 40px;
/*	background-color: yellow;*/
	right: 30px;
	margin-top: 630px;
	position: absolute;
}

.hint {
	width: 100%;
	/*height: 20px;*/
	position: absolute;
	top: 40px;
	text-align: center;
}

#replay {
	width: 40px;
	height: 40px;
	background-color: white;
	position: absolute;
	left:40px;
	margin-top: 630px;
	background: url('../img/play40.png');
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

#trick_name{
	height: 40px;
	width: 500px;
	position: absolute;
	left: 50%;
	margin-left: -250px;
	margin-top: 630px;

	/*background: url('../img/fakie_flip.png');
	background-repeat: no-repeat;
	background-position: center;*/
	text-align: center;

}

#trick_name h1{
	color: white;
	letter-spacing: 1px;
	font-size: 40px;
	word-spacing: 10px;
}

.menuItem{
	width: 10px;
	height: 10px;
	float: left;
	margin-left: 10px;
	border-radius: 50%;
	margin-top: 30px;
	cursor: pointer;
}

.menuItem.on {
	background-color: white ;
}

.menuItem.off{
		background-color: #202020;
}


#skateVisuals_tablet {
	display: none;
}

/* Section 2: Mark ---------------------------------------------------------------------- */

#mark_canvas {
	margin-top: 60px;
	width: 100%;
	height: 720px;
	position: relative;
}

#menu_mark {
	width: 70px;
	height: 40px;
/*	background-color: yellow;*/
	right: 30px;
	margin-top: 630px;
	position: absolute;
}

.menuItem_mark{
	width: 10px;
	height: 10px;
	float: left;
	margin-left: 10px;
	border-radius: 50%;
	margin-top: 30px;
	cursor: pointer;
}

.menuItem_mark.on {
	background-color: white ;
}

.menuItem_mark.off{
		background-color: #202020;
}

#replay_mark {
	width: 40px;
	height: 40px;
	background-color: white;
	position: absolute;
	left:40px;
	margin-top: 630px;
	background: url('../img/play40.png');
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

#trick_name_mark{
	height: 40px;
	width: 500px;
	position: absolute;
	left: 50%;
	margin-left: -250px;
	margin-top: 630px;
	text-align: center;
}

#trick_name_mark h1{
	color: white;
	letter-spacing: 1px;
	font-size: 40px;
	word-spacing: 10px;
}

#spot_name {
/*	width: 200px;
	height: 50px;*/
	position: absolute;
	top: 40px;
	left: 40px;
	/*background-color: red;*/
}

#spot_name h1{
	color: white;
	letter-spacing: 1px;
	font-size: 40px;
	word-spacing: 10px;
}

#spot_name h2 {
	font-family: Helvetica, sans-serif;
	font-size: 15px;
	line-height: 22px;
	font-weight: 100;
	text-align: center;
	color: #888888;
}



#mark_images {
	display: none;
	position: relative;
	width: 1140px;
	height: 641px;
	background-color: black;
	margin: 0 auto;
	margin-top: 60px;
	background-size: cover;
}

#mark_images_menu{
	position: relative;
	width: 290px;
	height: 10px;
	margin: 0 auto;	
	top: 591px;

}

.mark_images_menu_item {
	float: left;
	margin-left: 40px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	cursor: pointer;
}

.mark_images_menu_item.on {
	background-color: white;
}

.mark_images_menu_item.off {
	background-color: #202020;
}

#mark_images_phone {
	display: none;
}

/* Section 3: Score --------------------------------------------------------------------- */

#score_wrapper{
	width: 1096px;
/*	height: 360px;*/
	position: relative;
	margin: 0 auto;

}

#score_text {
	margin-top: 0px;
}

.score_image_wrapper {
	width: 596px;
	height: 512px;
	position: relative;
}

#score_image {
	width: 288px;
	height: 512px;
	float: left;
	background: url('../img/score_3.png');
	background-size: cover;
}

#score_image_2 {
	width: 288px;
	height: 512px;
	float: right;
	/*float: left;
	margin-left: 10px;*/
	background: url('../img/leaderboard_2.png');
	background-size: cover;
}

/* Section 4: Versus -------------------------------------------------------------------- */

#versus_mobile {
	display: none;
}



#versus_data {
	width: 1110px;
	height: 180px;
	position: absolute;
	margin-top: 500px;
	left: 50%;
	margin-left: -555px;
}

#skater_one {
	width: 264px;
	height: 180px;
	position: absolute;
	background: url('../img/rodriguez_final_2.png');
	background-size: cover;
	margin-left: 35px;
	margin-top: 35px;
}

#skater_two {
		width: 264px;
	height: 180px;
	position: absolute;
	background: url('../img/huston_final_2.png');
	background-size: cover;
	right: 35px;
	margin-top: 35px;
}

.data_item_vs {
	width: 126px;
	height: 180px;
	float: left;
	margin-left: 80px;
}

.data_item_vs_2 {
	width: 126px;
	height: 180px;
	float: left;
	margin-left: 80px;
}

.data_item_vs.on {
	display: block;
}
.data_item_vs.off {
	display: block;
}
.data_item_vs_2.on {
	display: block;
}
.data_item_vs_2.off {
	display: block;
}


#vs_data_menu{
	display: none;
}

#speed {
	background: url('../img/speed_final_2.png');
	background-size: cover;
}

#airtime {

	background: url('../img/airtime_final_2.png');
	background-size: cover;
}

#jump_height{
	background: url('../img/jump_height_final_2.png');
	background-size: cover;
}

#jump_distance{
	background: url('../img/jump_distance_final_2.png');
	background-size: cover;
}

#score{
	background: url('../img/score_final_2.png');
	background-size: cover;
}






/*#visualize_one{
	background: url('../img/visualize_your_45.png');
	background-position: center;
	background-repeat: no-repeat;
}

#visualize_two{
	background: url('../img/tricks.png');
		background-position: center;
	background-repeat: no-repeat;
}

#versus_one{
	background: url('../img/compare_your.png');
	background-position: center;
	background-repeat: no-repeat;
}
#versus_two{
	background: url('../img/tricks.png');
	background-position: center;
	background-repeat: no-repeat;
}

#sensor_one{
	background: url('../img/the_sensor.png');
	background-position: center;
	background-repeat: no-repeat;
}*/



/*#sensor_image{
	width: 100%;
	height: 700px;
	position: relative;
	margin:  0 auto;
	top: 60px;
	background: url('../img/skateboardSensor_big2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}*/


/* Section 5: Sensor ----------------------------------------------------------------------- */

#sensor_wrapper{
	width: 1140px;
	height: 360px;
	position: relative;
	margin: 0 auto;
}


.sensor_image_wrapper {
	width: 640px;
	height: 360px;
	float: left;
/*	background: url('../img/sensor_540.png');
	background-size: cover;*/
}

#sensor_image {
	width: 640px;
	height: 360px;
	position: relative;
	margin: 0 auto;
	background: url('../img/sensor_540.png');
	background-size: cover;
}


