html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}
canvas { width: 100%; height: 100% }
#skateVisuals {
	width: 100%;
	height: 100%;
	position: absolute;
}


#menu {
	width: 110px;
	height: 50px;
/*	background-color: yellow;*/
	right: 10px;
	bottom: 50px;
	position: absolute;
}

#replay {
	width: 100px;
	height: 50px;
	background-color: white;
	position: absolute;
	float: left;
	bottom: 20px;
	cursor: pointer;
}

#trick_name{
	height: 50px;
	width: 500px;
	position: absolute;
	left: 50%;
	margin-left: -250px;
	bottom: 50px;
	background: url('../img/nollie_flip.png');
	background-repeat: no-repeat;
	background-position: center;
	/*background-size: cover;*/
}

.menuItem{
	width: 10px;
	height: 10px;
	float: left;
	margin-left: 10px;
	border-radius: 50%;
	margin-top: 40px;
	cursor: pointer;
}

.menuItem.on {
	background-color: white ;
}

.menuItem.off{
		background-color: #202020;
}